.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.app-header {
  background-color: navy;
  color: white;
  padding: 1rem;
  font-size: 4rem;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 1rem;
}

.card {
  border: 2px solid black;
  display: inline-block;
  text-align: center;
}

.card:hover {
  transform: scale(1.05); /* grow slightly */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* add a nice shadow */
  cursor: pointer; /* show hand cursor */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 2rem; /* space between cards */
  justify-items: center; /* centers cards in each cell */
  margin-top: 2rem;
}