.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.app-header {
    background-color: navy;
    color: white;
    padding: 1rem;
    font-size: 4rem;
}
.search {
    text-align: center;
}

.search-input {
    font-size: 20px;
}
.search-button {
    background-color: navy;
    color:white;
    font-size: 20px;
    
}